JAVA_HOME=/opt/homebrew/opt/openjdk@17
PATH=/opt/homebrew/opt/openjdk@17/bin:/usr/bin:/bin:/usr/sbin:/sbin
PYSPARK_PYTHON=${workspaceFolder}/.venv/bin/python
PYSPARK_DRIVER_PYTHON=${workspaceFolder}/.venv/bin/python
SPARK_LOCAL_IP=127.0.0.1
